.header{
    background-color: rgb(47, 255, 57);
    padding: 20px;
}
.content{
    background-color: rgb(255, 255, 0);
    padding: 20px;
    width: 30%;
    margin-top: 30px;
}
.content2{
    background-color: rgb(255, 0, 0);
    padding: 20px;
    width: 30%;
    margin-top: 30px;
    float: right;
}
.footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
    font-size: 1.5em;
}